{
    "printWidth": 120,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "strict",
    "useTabs": false,
    "tabWidth": 2,
    "semi": true
} 